* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 1.5em 1em;
}

header h1 {
    font-size: 4rem;
}

header p {
    font-size: 1.5rem;
}

main {
    background-color: #597;
    height: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 500px;
    height: auto;
    text-align: center;
    margin: 2em;
    border: 10px solid #000;
    flex-direction: column;
    border-radius: 3em;
    padding: 1em 2em;
}

.card h2 {
    font-size: 2rem;
    padding-bottom: 1em;
}

.card label {
    font-size: 1.5rem;
    margin: 1em 0;
}

.card input {
    width: 100%;
    margin-top: 1em;
    padding: 1em 0;
    text-align: center;
    border: 3px solid black;
    background-color: rgba(245, 245, 245, 0.726);
    border-radius: 2em;
    display: block;
}

.card input:focus {
    outline: none;
    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

.card button {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.5em;
    margin: 1em 0;
    border: 3px solid black;
    background-color: #567;
    border-radius: 2em;
}

.botonInicio {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
    background-color: #fff;
    font-size: 2em;
    font-weight: bold;
    width: 50%;
    border-radius: 2em;
    margin: auto;
}
